<% include ./partials/header %>
<div class="ui main text container">
	<div class="ui middle aligned center aligned grid">
		<div class="ui inverted segment">
			<form class="ui tiny form" method="POST" action="<%= url %>">
		<label>Group Name: </label>
		<input type="text" name="groupname">
		<button class="ui right floated teal button">Add</button>
	</form>
		</div>
	</div>
	
</div>
	
<% include ./partials/footer %>