<% include ./partials/header %>
<div class="ui main text container">
	<div class="ui massive teal message">
		Welcome to PhoneBook
	</div>
	<div class="ui large info message">
		<div class="header">
			Readme
		</div>
		<ul class="list">
			<li>You can navigate login & signup tab from navbar.</li>
			<li>Some of the dummy data has been added to Admin user.</li>
			<li><p>username - admin</p>
				<p>password - admin</p></li>
				<li>User can only add, delete, update contacts once SignedIn</li>
				<li>User can register and create their own records.</li>
		</ul>
	</div>
	
</div>
<% include ./partials/footer %>